doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title index page of foo
    link(rel="stylesheet" href="/stylesheets/main.css")
  body
    .stage
      h1.foo-title Foo
  script(type="text/javascript" src="/javascripts/main.js")
